.housing {
    margin: $margin-border;
    color: $color-main;
    &_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px 20px 0px;
    }
    &_tagsrating {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &--tags {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .tags {
                
                text-align: center;
                background-color: $color-main;
                color: $color-white;
                min-width: 115px;
                height: 25px;
                border-radius: 10px;
                font-size: 14px;
                margin-right: 10px;
                padding: 3px 10px 0px 10px;
            }
        }
    }
    .content_header {
        display: flex;
        flex-direction: column;
        width: 80%;
        &--title {
            font-size: 36px;
        }
        &--location {
            font-size: $medium-font-size;
        }
    }
    .content_body {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 20%;
        &--namehost {
            width: 93px;
            text-align: right;
            font-size: $medium-font-size;
        }
        &--picturehost {
            width: 64px;
            border-radius: 32px;
            margin-left: 10px;
        }
    }
}
