.housing {
    margin: $margin-border;
    color: $color-main;
    @include for-tablet {
        margin: $margin-tablet;
    }
    @include for-mobile {
        margin: $margin-mobile;
    }
    &_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px 20px 0px;
        @include for-mobile {
            flex-direction: column;
            align-items: normal;
        }
    }
    &_collapses {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom:30px;
        gap: 50px;
        @include for-mobile {
            flex-direction: column;
            gap: 30px;
        }
        &--description {
            width: 50%;
            @include for-mobile {
                width: 100%;
            }
        }
        &--equipments {
            width: 50%;
            @include for-mobile {
                width: 100%;
            }
        }
    }
    
    .content_header {
        display: flex;
        flex-direction: column;
        width: 80%;
        @include for-mobile {
            width: 100%;
        }
        &--title {
            font-size: 36px;
            margin-bottom: 10px;
            @include for-mobile {
                font-size: $medium-font-size;
            }
        }
        &--location {
            font-size: $medium-font-size;
            @include for-mobile {
                font-size: $small-font-size;
            }
        }
        &--tags {
            width: 80%;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            @include for-mobile {
                flex-wrap: wrap;
                gap: 10px;
                width: 100%;
            }
            .tags {
                text-align: center;
                background-color: $color-main;
                color: $color-white;
                min-width: 115px;
                height: 25px;
                border-radius: 10px;
                font-size: 14px;
                margin-right: 10px;
                padding: 3px 10px 0px 10px;
                @include for-mobile {
                    margin-right: 10px;
                }
            }
        }
    }
    .content_body {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        width: 20%;
        @include for-mobile {
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }
        &--host {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            @include for-mobile {
                align-items: center;
                width: 33%;
            }
        }
        &--namehost {
            width: 93px;
            text-align: right;
            font-size: $medium-font-size;
            @include for-mobile {
                font-size: $small-font-size;
            }
        }
        &--picturehost {
            width: 64px;
            border-radius: 32px;
            margin-left: 10px;
            @include for-mobile {
                width: 32px;
                border-radius: 16px;
            }
        }
        &--rating {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            @include for-mobile {
                width: 33%;
            }
            .star {
                width: 36px;
                @include for-mobile {
                    width: 18px;
                }
            }            
        }
    }
}
