.Banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 223px;
    margin: $margin-border;
    &_Image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(0.7)
    }
    &_Text {
        position: absolute;
        color: $color-white;
        font-size: $big-font-size;
        font-weight: $medium-font-weight;
    }
}