.error {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    color: $color-main;
    height: calc(100vh - 341px);
    @include for-mobile {
        height: calc(100vh - 301px);
    }
    &_title {
        margin-top: 80px;
        font-size: 288px;
        font-weight: $bold-font-weight;
        text-align: center;
        @include for-mobile {
            font-size: 96px;
        }
    }
    &_text {
        margin: 100px 0px 100px 0px;
        font-size: 36px;
        text-align: center;
        @include for-mobile {
            width: 260px;
            font-size: $medium-font-size;
        }
    }
    &_link {
        margin-bottom: 100px;
        text-decoration: underline;
        @include for-mobile {
            font-size: $small-font-size;
        }
    }
}