.Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 209px;
    background-color: $color-black;
    color: $color-white;
    img {
        width: 122px;
        margin-bottom: 30px;
    }
    &_Text {
        font-size: $medium-font-size;
    }
}
@include for-mobile {
    .Footer {
        img {
            margin-bottom: 10px;
        }
        &_Text {
            width: 95px;
            font-size: $small-font-size;
        }
    }
 }