.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $margin-border;
}

@include for-tablet {
    .header {
        margin: $margin-tablet;
    }
}

@include for-mobile {
    .header {
        margin: $margin-mobile;
    }
}